
.contact {

   // .contact__title

   &__title {
      font-size: clamp(22px, 3.75vw, 36px);
      padding-bottom: 20px;
      line-height: 100%;
      letter-spacing: .8;
   }
}
.contact-block {
}
.contact-item {
      padding-bottom: 20px;
   
   // .contact-item__coordinator

   &__coordinator {
      font-size: clamp(18px, 2.291vw, 22px);
      font-weight: 600;
      padding-bottom: 10px;
   }

   // .contact-item__name

   &__name {
      font-size: clamp(18px, 2.291vw, 20px);
      font-weight: 600;
      padding-bottom: 10px;
   }

   // .contact-item__place

   &__place {
      font-size: 14px;
      padding-bottom: 10px;
   }

   // .contact-item__phone

   &__phone {
    
      & a {
         font-weight: 500;
         color: #2C5B95;
      }

   } 

   // .contact-item__mail

   &__mail {
      padding-top: 10px;
      & a {
        color: #2C5B95;
        font-weight: 500;
         font-size: 14px;
      }
   }
}
.contact-form {
   padding: 20px;
    background: #EDF2F7;
    border-radius: 8px;
}
.contact-form-name-block {
   display: flex;
   gap: 10px;
   padding-bottom: 20px;
   @media(max-width: 575px) {
      flex-direction: column;
   }
}
.contact-form-name {
   width: 100%;
   display: flex;
   flex-direction: column;
}
.label {
   font-size: 12px;
   padding-bottom: 5px;
}
.input {
   height: 50px;
   border: 1px solid #AFB7C0;
   border-radius: 4px;
   font-size: 18px;
}
textarea {
   border: 1px solid #AFB7C0;
   border-radius: 4px;
   font-size: 18px;
   resize: vertical;
}
.contact-form-surname {
   width: 100%;
   display: flex;
   flex-direction: column;
   
}

.contact-form-mail {
   display: flex;
   flex-direction: column;
   padding-bottom: 20px;
}
.contact-form-text {
   display: flex;
   flex-direction: column;
   padding-bottom: 40px;
 @media(max-width: 1024px) {
   padding-bottom: 0;
 }
}

.button {
   display: flex;
   height: 50px;
   justify-content: center;
   align-items: center;
   width: 100%;
   color: #fff;
    background: #A1AAB3;
    text-align: center;
    border-radius: 3px;
    margin-top: 30px;
    cursor: pointer;
}
