.social-list {
    gap: 10px;
    display: flex;
    align-items: center;

    &__img {
        width: 32px;
        height: 32px;
        object-fit: cover;
        transition: .3s;

        &:hover {
            transform: scale(1.2);
        }
    }
}