.accordion {
    &__item {
        width: 240px;
        margin-bottom: 10px;
    }

    &__header {
        padding: 10px;
        cursor: pointer;
        color: #232323;
        display: flex;
        font-size: 17px;
        font-weight: bold;
        line-height: 24px;
        text-transform: uppercase;
        white-space: wrap;
        align-items: center;
        justify-content: space-between;
        transition: background-color 0.2s ease-out;
        margin-bottom: 5px;
        border-radius: 4px;

        &:hover {
            color: $white;
            background-color: #2C5B95;

            &::after {
                background-image: url(../images/icons/accordion/arrowWhite.svg);
            }
        }

        &::after {
            flex-shrink: 0;
            width: 20px;
            height: 10px;
            margin-left: auto;
            background-image: url(../images/icons/accordion/arrowBlack.svg);
            background-repeat: no-repeat;
            background-size: 1.25rem;
            content: "";
            transition: transform 0.2s ease-out;
        }
    }

    &__body {
        overflow: hidden;
        padding: 0 10px;
        max-height: 0;
        transition: max-height 0.35s ease-in-out;
    }
}
.accordion__item_show .accordion__body {
    max-height: 100%;
    transition: max-height 0.35s ease-in-out; 
}

.accordion__item_init .accordion__body {
    max-height: 0;
}