.partnerskaya-group {
   background-image: url(../../../images/bg/ornament_bg.png), linear-gradient(-180deg, #F52853 0%, #DC254B 98%);
    background-repeat: no-repeat;
    background-position: 100% 25%;
    background-attachment: fixed;
    height: 570px;
    left: 0;
    right: 0;
    padding-top: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    @media(max-width: 768px) {
      height: 380px;
      background-position: 4% 30%;
    }
}
.wrapper {
}
.partnerskaya-group-title-block {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100%;

		// .partnerskaya-group-title-block__title

		&__title {
         font-size: clamp(30px, 7.3vw, 60px);
         color: #fff;
         padding-left: 330px;
         text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
         @media(max-width: 1024px) {
            padding-left: 0;
         }
		}
}
table.partnerskaya-group-table{
	width: 100%;
	border-collapse:collapse;
	border-spacing:0;
	height: auto;
   font-size: 14px;
}
table.partnerskaya-group-table,table.partnerskaya-group-table td, table.partnerskaya-group-table th {
	border: 1px solid #595959;
}
table.partnerskaya-group-table td,table.partnerskaya-group-table th {
	padding: 10px;
	width: 30px;
	height: 35px;
}
table.partnerskaya-group-table td span {
   font-weight: 500;
}
table.partnerskaya-group-table td {
   @media(max-width: 475px) {
      vertical-align: baseline;
   }
}

//========================================================================================================================================================
.partnerskaya-group-content {
   padding-top: 50px;
   display: flex;
   padding-bottom: 60px;
}
.nav-bar {
   flex: 0 0 280px;
   width: 280px;
   margin-right: 40px;
   @media(max-width: 1024px) {
      display: none;
   }
}
.partnerskaya-group-content-right {
   max-width: 1050px;

		// .partnerskaya-group-content-right__title

		&__title {
         font-size: clamp(22px, 3.75vw, 36px);
         padding-bottom: 20px;
         line-height: 100%;
         letter-spacing: .8;
		}
      & p {
         font-size: 18px;
         &:not(:last-child) {
            padding-bottom: 20px;
         }
      }
}
.table-title {
   font-size: 18px;
   padding-bottom: 10px;
   font-weight: 600;
}
.partnerskaya-group-table-block {
}
.partnerskaya-group-table {
}
.partnerskaya-group-link {
   padding-top: 40px;
   & a {
      font-size: clamp(18px, 2.291vw, 22px);
      color: #2C5B95;
      text-decoration: underline;

   }
   padding-bottom: 10px;
   border-bottom: 3px solid #2F402D;
}
.partnerskaya-group-soc-print {
   padding-top: 10px;
   display: flex;
   gap: 10px;
}
.soc-print-twit {
   width: 32px;
   & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
}
.soc-print {
   display: flex;
   gap: 5px;
   align-items: center;
   color: $black;
   font-size: 14px;
   padding: 0 10px;
   background: #EBEDEF;
   border-radius: 4px;
}
