.newsletter {
    padding-top: 15px;
    margin-bottom: 50px;
    border-top: 3px solid #2F402D;

    &__title {
        font-size: 18px;
        color: #193557;
        font-weight: bold;
        margin-bottom: 15px;
        text-transform: uppercase;
    }

    &__form {
        gap: 10px;
        padding: 30px;
        display: flex;
        border-radius: 5px;
        align-items: center;
        background: #E8EAED;

        &__input {
            padding: 20px;
            width: 100%;
            height: 72px;
            font-size: 20px;
            font-weight: 400;
            border-radius: 4px;
            border: 2px solid #2C5B95;
        }

        &__btn {
            width: 380px;
            height: 72px;
            color: $white;
            font-size: 20px;
            font-weight: 400;
            border-radius: 4px;
            background: #2C5B95;
        }
    }
}

@media (max-width: 800px) {
    .newsletter {
        &__form {
            padding: 15px;
    
            &__input {
                height: 50px;
                padding: 10px;
                font-size: 15px;
            }
    
            &__btn {
                height: 50px;
                font-size: 16px;
            }
        }
    }
}

@media (max-width: 500px) {
    .newsletter {
        &__form {
            flex-direction: column;
    
            &__btn {
                width: 100%;
            }
        }
    }
}
